@import "partials/_reset.scss", "partials/_variables.scss", "partials/_mixins.scss", "partials/_typo.scss", "partials/_header.scss", "partials/_localisation.scss", "partials/_footer.scss";

h2{
    display: inline-block;
    margin: 3.125rem 0 0rem 1.25rem;
}

.fonctionnement{
    margin-bottom: 4.375rem;
    .fonctionnement-btn{
        @include fonctionnement-btn();
    }
}

.presentation{
    background-color: rgb(240, 240, 240); 
    text-align: center;
    padding-top: 0.001rem;
    height: 17.5rem;
    h1{
        width: 65%;
        @include center-margin-tb(35px, 20px);
    }
    p{
        width: 78%;
        @include center-margin-tb(0px, 40px);
        color: $darkgrey;
        font-size: 1.0625rem;
        font-weight: 300;
    }

    .presentation-btn{
        @include center-margin-tb(0, 40px);
        @include btn();
    }
}

.restaurants{
    background-color: rgb(240, 240, 240);
    padding-bottom: 3.75rem;
    .restaurants-cards{
        @include restaurants-cards();
        a{
            text-decoration: none;
            &:visited{
                color: black;
            }
        }
    }
}