@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.header-backarrow {
  margin-left: 1.875em;
  font-size: 1.5em;
  top: calc(50% - 12.5px);
  color: rgba(46, 46, 46, 0.863);
  position: absolute;
}

.header-cover img {
  width: 100%;
  height: 17.1875em;
  -o-object-fit: cover;
     object-fit: cover;
}

.div-logo {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  background-color: #f8f8f8;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  position: relative;
}

.div-logo img {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.localisation {
  background-color: rgba(187, 187, 187, 0.397);
}

.localisation .localisation-form {
  text-align: center;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.localisation .localisation-form input {
  background-color: rgba(187, 187, 187, 0);
}

.localisation .localisation-form input::-webkit-input-placeholder {
  color: #4d4d4d;
  font-size: 0.9375rem;
  font-weight: 500;
}

.localisation .localisation-form input:-ms-input-placeholder {
  color: #4d4d4d;
  font-size: 0.9375rem;
  font-weight: 500;
}

.localisation .localisation-form input::-ms-input-placeholder {
  color: #4d4d4d;
  font-size: 0.9375rem;
  font-weight: 500;
}

.localisation .localisation-form input::placeholder {
  color: #4d4d4d;
  font-size: 0.9375rem;
  font-weight: 500;
}

.localisation .localisation-form i {
  margin-right: 0.625rem;
  color: #4d4d4d;
}

footer {
  background-color: #363636;
  color: white;
  padding-bottom: 1.875rem;
}

footer img {
  margin: 1.5625rem 0 0.9375rem 1.25rem;
  width: 25%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer ul > li {
  list-style-type: none;
  font-size: 0.9375rem;
  margin: 0 0 0.4375rem 1.25rem;
}

footer ul > li a {
  text-decoration: none;
  color: white;
}

footer ul > li .fa-utensils {
  font-size: 0.875rem;
  margin-right: 0.6875rem;
}

footer ul > li .fa-hands-helping {
  font-size: 0.875rem;
  margin-right: 0.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  display: inline-block;
  margin: 3.125rem 0 0rem 1.25rem;
}

.fonctionnement {
  margin-bottom: 4.375rem;
}

.fonctionnement .fonctionnement-btn {
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  background-color: rgba(240, 240, 240, 0.712);
  margin: 30px auto 0px auto;
  border-radius: 1.25rem;
  width: 87%;
  padding: 1.5625rem 0 1.5625rem 0;
}

.fonctionnement .fonctionnement-btn:hover {
  background-color: #a96af52a;
}

.fonctionnement .fonctionnement-btn:hover i {
  color: #9356DC;
}

.fonctionnement .fonctionnement-btn .btn-text {
  font-weight: 500;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.fonctionnement .fonctionnement-btn i {
  float: left;
  z-index: 1;
  left: 0;
  font-size: 1.125rem;
  margin-left: 1.5625rem;
  color: #707070;
}

.fonctionnement .fonctionnement-btn .btn-number {
  float: left;
  color: white;
  font-size: 0.875rem;
  margin-left: -0.625rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #9356DC;
  border-radius: 0.9375rem;
}

.presentation {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 0.001rem;
  height: 17.5rem;
}

.presentation h1 {
  width: 65%;
  margin: 35px auto 20px auto;
}

.presentation p {
  width: 78%;
  margin: 0px auto 40px auto;
  color: #4d4d4d;
  font-size: 1.0625rem;
  font-weight: 300;
}

.presentation .presentation-btn {
  margin: 0 auto 40px auto;
  margin: 0 auto 40px auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.902467)), to(#ff79da));
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.902467) 0%, #ff79da 100%);
  color: white;
  padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
  border-radius: 1.5625rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.presentation .presentation-btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(155, 99, 223, 0.902467)), to(#ff88de));
  background: linear-gradient(0deg, rgba(155, 99, 223, 0.902467), #ff88de);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.45rem 0.85rem;
          box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.45rem 0.85rem;
}

.restaurants {
  background-color: #f0f0f0;
  padding-bottom: 3.75rem;
}

.restaurants .restaurants-cards {
  width: 90%;
  overflow: hidden;
  margin: 20px auto 0px auto;
  border-radius: 0.9375rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
}

.restaurants .restaurants-cards .notification-container {
  position: absolute;
  right: 7%;
}

.restaurants .restaurants-cards .notification-container .cards-notification {
  margin-top: 0.625rem;
  background-color: #99E2D0;
  border-radius: 0.1875rem;
  color: green;
  font-size: 0.9375rem;
  padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
}

.restaurants .restaurants-cards img {
  width: 100%;
  height: 10.9375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .restaurants-cards .cards-text {
  height: 5rem;
  background-color: white;
  margin-top: -0.25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.restaurants .restaurants-cards .cards-text .container-text {
  width: 80%;
}

.restaurants .restaurants-cards .cards-text .container-text h3 {
  font-size: 1.0625rem;
  margin: 1.25rem 0rem 0.3125rem 0.625rem;
}

.restaurants .restaurants-cards .cards-text .container-text p {
  margin-left: 0.625rem;
  font-weight: 300;
}

.restaurants .restaurants-cards .cards-text .container-icon {
  width: 20%;
}

.restaurants .restaurants-cards .cards-text .container-icon .empty-icon {
  font-size: 25px;
  margin-top: 25px;
  background: rgba(29, 29, 29, 0.623);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants .restaurants-cards .cards-text .container-icon .full-icon {
  font-size: 22px;
  margin-top: 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.902467)), to(#ff79da));
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.902467) 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 0px;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

.restaurants .restaurants-cards .cards-text .container-icon .full-icon:hover {
  height: 25px;
}

.restaurants .restaurants-cards a {
  text-decoration: none;
}

.restaurants .restaurants-cards a:visited {
  color: black;
}

.text-deco {
  margin-left: 15px;
  margin-top: 3px;
  margin-bottom: 18px;
  border: 1px solid #99E2D0;
  width: 32px;
}

.menu {
  background-color: #f0f0f0;
  border-radius: 30px 30px 0 0;
  margin-top: -60px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.menu .container-title {
  background-color: #f0f0f0;
  margin-top: 30px;
}

.menu .container-title .menu-title {
  width: 76%;
  font-size: 25px;
  margin-left: 25px;
  font-family: 'Shrikhand';
  margin-right: auto;
}

.menu .container-title .container-icon {
  width: 24%;
}

.menu .container-title .container-icon .empty-icon {
  font-size: 23px;
  margin-top: 4px;
  background: rgba(29, 29, 29, 0.493);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 25px;
}

.menu .container-title .container-icon .full-icon {
  font-size: 23px;
  margin-top: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.902467)), to(#ff79da));
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.902467) 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 0px;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

.menu .container-title .container-icon .full-icon:hover {
  height: 25px;
}

.menu h3 {
  margin-top: 40px;
  font-weight: 100;
  font-size: 15px;
  margin-left: 15px;
  text-transform: uppercase;
}

.menu .menu-div {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 10px;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
}

.menu .menu-div .plat-container {
  margin: 10px 0 10px 10px;
  width: 87%;
}

.menu .menu-div .plat-container .menu-plat {
  font-weight: 500;
  font-size: 15px;
}

.menu .menu-div .plat-container .menu-description {
  font-weight: 100;
  font-size: 13px;
  margin-top: 5px;
}

.menu .menu-div .price-container {
  width: 13%;
}

.menu .menu-div .price-container .menu-price {
  margin-top: 32px;
  font-weight: 500;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.menu .menu-div .plat-animation {
  width: 0%;
  background-color: #99E2D0;
  display: none;
}

.menu .container-btn {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.menu .container-btn .btn {
  width: 33%;
  margin: 0 auto 40px auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.902467)), to(#ff79da));
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.902467) 0%, #ff79da 100%);
  color: white;
  padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
  border-radius: 1.5625rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu .container-btn .btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(155, 99, 223, 0.902467)), to(#ff88de));
  background: linear-gradient(0deg, rgba(155, 99, 223, 0.902467), #ff88de);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.45rem 0.85rem;
          box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.45rem 0.85rem;
}

.menu .container-btn .btn a {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fonctionnement h2 {
    width: 100%;
  }
  .fonctionnement .fonctionnement-btn {
    width: 29%;
  }
  .fonctionnement .fonctionnement-btn .fa-mobile-alt {
    font-size: 20px;
    margin-top: 0.6rem;
    margin-left: 1.2rem;
  }
  .fonctionnement .fonctionnement-btn .fa-list-ul {
    font-size: 20px;
    margin-top: 0.6rem;
    margin-left: 1.2rem;
  }
  .fonctionnement .fonctionnement-btn .fa-store {
    font-size: 19px;
    margin-top: 0.6rem;
    margin-left: 1rem;
  }
  .fonctionnement .fonctionnement-btn .btn-number {
    margin-top: 0.4rem;
  }
  .fonctionnement .fonctionnement-btn .btn-text {
    width: 45%;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants .restaurants-cards {
    width: 48%;
    position: relative;
  }
  .restaurants .restaurants-cards .notification-container {
    position: absolute;
    right: 3%;
  }
  .restaurants .restaurants-cards .notification-container .cards-notification {
    margin-top: 0.625rem;
    background-color: #99E2D0;
    border-radius: 0.1875rem;
    color: green;
    font-size: 0.9375rem;
    padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
  }
}
/*# sourceMappingURL=main.css.map */