.localisation{
    background-color: rgba(187, 187, 187, 0.397);
    .localisation-form{
        text-align: center;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        input{
            background-color: rgba(187, 187, 187, 0);
            &::placeholder{
            color: $darkgrey;
            font-size: 0.9375rem;
            font-weight: 500;
            }
        }
        i{
            margin-right: 0.625rem;
            color: $darkgrey;
        }
    }
}   