@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

// DECLARATIONS/VARIABLES

$purple: #9356DC;
$pink:#FF79DA;
$mint: #99E2D0;
$darkgrey:rgb(77, 77, 77);
$gradient: linear-gradient(0deg, rgba(147,86,220,0.9024665880503144) 0%, rgba(255,121,218,1) 100%);
$shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;

$margt: 1.5625rem;
$margb: 1.5625rem;


@mixin center-margin-tb($margt, $margb) {
    margin: $margt auto $margb auto;
}

@mixin fonctionnement-btn {
    text-align: center;
    box-shadow: $shadow;
    background-color: rgba(240, 240, 240, 0.712);
    @include center-margin-tb(30px, 0px);
    border-radius: 1.25rem;
    width: 87%;
    padding: 1.5625rem 0 1.5625rem 0;
    &:hover{
        background-color: #a96af52a;
        i{
            color: $purple;
        }
    }
    p{
        position: relative;
        font-weight: 500;
    }
    i{
        position: absolute;
        z-index: 1;
        left: 0;
        font-size: 1.125rem;
        margin-left: 4.0625rem;
        color: rgb(112, 112, 112);
    }
    .btn-number{
        float: left;
        color: white;
        font-size: 0.875rem;
        margin-left: -0.625rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        background-color: $purple;
        border-radius: 0.9375rem;
    }
}

@mixin restaurants-cards {
    width: 90%;
    overflow: hidden;
    @include center-margin-tb(20px, 0px);
    border-radius: 0.9375rem;
    box-shadow: $shadow;
    .notification-container{
        position: absolute;
        right: 7%;
        .cards-notification{
            align-content: flex-end;
            margin-top: 0.625rem;
            background-color: $mint;
            border-radius: 0.1875rem;
            color: green;
            font-size: 0.9375rem;
            padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
        }
    }
    img{
        width: 100%;
        height: 10.9375rem;
        object-fit: cover;
    }
    .cards-text{
        height: 5rem;
        background-color: white;
        margin-top: -0.25rem;
        width: 100%;
        display: inline-block;
        h3{
            font-size: 1.0625rem;
            margin: 1.25rem 0rem 0.3125rem 0.625rem;
        }
        p{
            margin-left: 0.625rem;
            font-weight: 300;
        }
    }
}

// GENERAL

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

h2{
    display: inline-block;
    margin: 3.125rem 0 0rem 1.25rem;
}    

@media screen and (max-width: 1900px) {
    // LOGO

.div-logo{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;  
    background-color: rgb(248, 248, 248); 
    padding-top: 1.125rem;
    padding-bottom: 1.125rem; 
    img{
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}

// LOCALISATION

.localisation{
    background-color: rgba(187, 187, 187, 0.397);
    .localisation-form{
        text-align: center;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        input{
            background-color: rgba(187, 187, 187, 0);
            &::placeholder{
            color: $darkgrey;
            font-size: 0.9375rem;
            font-weight: 500;
            }
        }
        i{
            margin-right: 0.625rem;
            color: $darkgrey;
        }
    }
}

// PRESENTATION

.presentation{
    background-color: rgb(240, 240, 240); 
    text-align: center;
    padding-top: 0.001rem;
    height: 17.5rem;
    h1{
        width: 65%;
        @include center-margin-tb(35px, 20px);
    }
    p{
        width: 78%;
        @include center-margin-tb(0px, 40px);
        color: $darkgrey;
        font-size: 1.0625rem;
        font-weight: 300;
    }

    .presentation-btn{
        @include center-margin-tb(0, 40px);
        box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;  
        background: $gradient;
        color: white;
        padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
        border-radius: 1.5625rem;
        display: inline-flex;
        transition-property:  transform;
        transition-duration: 3s;
        &:hover{
            transform: scale(1.10);
        }
    }
}

.fonctionnement{
    margin-bottom: 4.375rem;
    .fonctionnement-btn{
        @include fonctionnement-btn();
    }
}

.restaurants{
    background-color: rgb(240, 240, 240);
    padding-bottom: 3.75rem;
    .restaurants-cards{
        @include restaurants-cards();
    }
}
}

footer{
    background-color: rgb(54, 54, 54);
    color: white;
    padding-bottom: 1.875rem;
    img{
        margin: 1.5625rem 0 0.9375rem 1.25rem;
        width: 25%;
        filter: invert(1);
    }
    ul>li{
        list-style-type: none;
        font-size: 0.9375rem;
        margin: 0 0 0.4375rem 1.25rem;
        .fa-utensils{
            font-size: 0.875rem;
            margin-right: 0.6875rem;
        }
        .fa-hands-helping{
            font-size: 0.875rem;
            margin-right: 0.25rem;
        }
    }
}