@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

h2 {
  display: inline-block;
  margin: 3.125rem 0 0rem 1.25rem;
}

.div-logo {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  background-color: #f8f8f8;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
}

.div-logo img {
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.localisation {
  background-color: rgba(187, 187, 187, 0.397);
}

.localisation .localisation-form {
  text-align: center;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.localisation .localisation-form input {
  background-color: rgba(187, 187, 187, 0);
}

.localisation .localisation-form input::-webkit-input-placeholder {
  color: #4d4d4d;
  font-size: 0.9375rem;
  font-weight: 500;
}

.localisation .localisation-form input:-ms-input-placeholder {
  color: #4d4d4d;
  font-size: 0.9375rem;
  font-weight: 500;
}

.localisation .localisation-form input::-ms-input-placeholder {
  color: #4d4d4d;
  font-size: 0.9375rem;
  font-weight: 500;
}

.localisation .localisation-form input::placeholder {
  color: #4d4d4d;
  font-size: 0.9375rem;
  font-weight: 500;
}

.localisation .localisation-form i {
  margin-right: 0.625rem;
  color: #4d4d4d;
}

.presentation {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 0.001rem;
  height: 17.5rem;
}

.presentation h1 {
  width: 65%;
  margin: 35px auto 20px auto;
}

.presentation p {
  width: 78%;
  margin: 0px auto 40px auto;
  color: #4d4d4d;
  font-size: 1.0625rem;
  font-weight: 300;
}

.presentation .presentation-btn {
  margin: 0 auto 40px auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.902467)), to(#ff79da));
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.902467) 0%, #ff79da 100%);
  color: white;
  padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
  border-radius: 1.5625rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

.presentation .presentation-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fonctionnement {
  margin-bottom: 4.375rem;
}

.fonctionnement .fonctionnement-btn {
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  background-color: rgba(240, 240, 240, 0.712);
  margin: 30px auto 0px auto;
  border-radius: 1.25rem;
  width: 87%;
  padding: 1.5625rem 0 1.5625rem 0;
}

.fonctionnement .fonctionnement-btn:hover {
  background-color: #a96af52a;
}

.fonctionnement .fonctionnement-btn:hover i {
  color: #9356DC;
}

.fonctionnement .fonctionnement-btn p {
  font-weight: 500;
}

.fonctionnement .fonctionnement-btn i {
  float: left;
  z-index: 1;
  left: 0;
  font-size: 1.125rem;
  margin-left: 1.5625rem;
  color: #707070;
}

.fonctionnement .fonctionnement-btn .btn-number {
  float: left;
  color: white;
  font-size: 0.875rem;
  margin-left: -0.625rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #9356DC;
  border-radius: 0.9375rem;
}

.restaurants {
  background-color: #f0f0f0;
  padding-bottom: 3.75rem;
}

.restaurants .restaurants-cards {
  width: 90%;
  overflow: hidden;
  margin: 20px auto 0px auto;
  border-radius: 0.9375rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
}

.restaurants .restaurants-cards .notification-container {
  position: absolute;
  right: 7%;
}

.restaurants .restaurants-cards .notification-container .cards-notification {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-top: 0.625rem;
  background-color: #99E2D0;
  border-radius: 0.1875rem;
  color: green;
  font-size: 0.9375rem;
  padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
}

.restaurants .restaurants-cards img {
  width: 100%;
  height: 10.9375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .restaurants-cards .cards-text {
  height: 5rem;
  background-color: white;
  margin-top: -0.25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurants .restaurants-cards .cards-text .container-text {
  width: 86%;
}

.restaurants .restaurants-cards .cards-text .container-text h3 {
  font-size: 1.0625rem;
  margin: 1.25rem 0rem 0.3125rem 0.625rem;
}

.restaurants .restaurants-cards .cards-text .container-text p {
  margin-left: 0.625rem;
  font-weight: 300;
}

.restaurants .restaurants-cards .cards-text .container-icon {
  width: 14%;
}

.restaurants .restaurants-cards .cards-text .container-icon .cards-icon {
  margin-top: 30px;
  font-size: 25px;
}

footer {
  background-color: #363636;
  color: white;
  padding-bottom: 1.875rem;
}

footer img {
  margin: 1.5625rem 0 0.9375rem 1.25rem;
  width: 25%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer ul > li {
  list-style-type: none;
  font-size: 0.9375rem;
  margin: 0 0 0.4375rem 1.25rem;
}

footer ul > li .fa-utensils {
  font-size: 0.875rem;
  margin-right: 0.6875rem;
}

footer ul > li .fa-hands-helping {
  font-size: 0.875rem;
  margin-right: 0.25rem;
}
/*# sourceMappingURL=style.css.map */