footer{
    background-color: rgb(54, 54, 54);
    color: white;
    padding-bottom: 1.875rem;
    img{
        margin: 1.5625rem 0 0.9375rem 1.25rem;
        width: 25%;
        filter: invert(1);
    }
    ul>li{
        list-style-type: none;
        font-size: 0.9375rem;
        margin: 0 0 0.4375rem 1.25rem;
        .fa-utensils{
            font-size: 0.875rem;
            margin-right: 0.6875rem;
        }
        .fa-hands-helping{
            font-size: 0.875rem;
            margin-right: 0.25rem;
        }
    }
}