@mixin center-margin-tb($margt, $margb) {
    margin: $margt auto $margb auto;
}

@mixin fonctionnement-btn {
    text-align: center;
    box-shadow: $shadow;
    background-color: rgba(240, 240, 240, 0.712);
    @include center-margin-tb(30px, 0px);
    border-radius: 1.25rem;
    width: 87%;
    padding: 1.5625rem 0 1.5625rem 0;
    &:hover{
        background-color: #a96af52a;
        i{
            color: $purple;
        }
    }
    .btn-text{
        font-weight: 500;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    i{
        float: left;
        z-index: 1;
        left: 0;
        font-size: 1.125rem;
        margin-left: 1.5625rem;
        color: rgb(112, 112, 112);
    }
    .btn-number{
        float: left;
        color: white;
        font-size: 0.875rem;
        margin-left: -0.625rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        background-color: $purple;
        border-radius: 0.9375rem;
    }
}

@mixin btn {
    @include center-margin-tb(0, 40px);
    box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;  
    background: $gradient;
    color: white;
    padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
    border-radius: 1.5625rem;
    display: inline-flex;
    &:hover{
        background: $darkgradient;
        box-shadow: rgba(0, 0, 0.1, 0.25) 0rem 0.45rem 0.85rem; 
    }
}

@mixin animated-heart-index {
    .container-icon{
        width: 20%;
        .empty-icon{
            font-size: 25px;
            margin-top: 25px;
            background: rgba(29, 29, 29, 0.623);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .full-icon{
            font-size: 22px;
            margin-top: 25px;
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            height: 0px;
            transition: height 1s ease;
            &:hover{
                height: 25px;
            }
        }
    }
}

@mixin animated-heart-menu {
    .container-icon{
        width: 24%;
        .empty-icon{
            font-size: 23px;
            margin-top: 4px;
            background: rgba(29, 29, 29, 0.493);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            height: 25px;

        }
        .full-icon{
            font-size: 23px;
            margin-top: 4px;
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            height: 0px;
            transition: height 1s ease;
            &:hover{
                height: 25px;
            }
        }
    }
}


@mixin restaurants-cards {
    width: 90%;
    overflow: hidden;
    @include center-margin-tb(20px, 0px);
    border-radius: 0.9375rem;
    box-shadow: $shadow;
    .notification-container{
        position: absolute;
        right: 7%;
        .cards-notification{
            margin-top: 0.625rem;
            background-color: $mint;
            border-radius: 0.1875rem;
            color: green;
            font-size: 0.9375rem;
            padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
        }
    }
    img{
        width: 100%;
        height: 10.9375rem;
        object-fit: cover;
    }
    .cards-text{
        height: 5rem;
        background-color: white;
        margin-top: -0.25rem;
        width: 100%;
        display: flex;
        color: black;
        .container-text{
            width: 80%;
            h3{
                font-size: 1.0625rem;
                margin: 1.25rem 0rem 0.3125rem 0.625rem;
            }
            p{
                margin-left: 0.625rem;
                font-weight: 300;
            }
        }
        @include animated-heart-index();
    }
}

@mixin plats {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 10px;
    background: white;
    border-radius: 15px;
    box-shadow: $shadow;
    overflow: hidden;
    flex-wrap: nowrap;
    .plat-container{
        margin: 10px 0 10px 10px;
        width: 87%;
        overflow: hidden;
        .menu-plat{
            font-weight: 500;
            font-size: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .menu-description{
            font-weight: 100;
            font-size: 13px;
            margin-top: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .price-container{
        width: 13%;
        .menu-price{
            margin-top: 32px;
            font-weight: 500;
            font-size: 14px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .plat-animation{
        position: relative;
        width: 0%;
        background-color: $mint;
        font-size: 27px;
        color: white;
        overflow: hidden;
        padding: 14px 0 14px 0;
        transition: width 1s;
        i{
            transition: transform 1s;
            position: absolute;
            left: calc(50% - 13.5px);
            transform: rotate(90deg);
            margin-right: auto;
            margin-left: auto;
        }
    }
};

@mixin animation-checkbox {
    .plat-animation{
        width: 35%;
        i{
            transform: rotate(360deg);
        }
    }
}

@mixin tab {
    @media screen and (min-width: 768px) {
        .fonctionnement{
            display: flex;
            flex-wrap: wrap;
            h2{
                width: 100%;
            }
            .fonctionnement-btn{
                width: 29%;
                .fa-mobile-alt{
                    font-size: 20px;
                    margin-top: 0.6rem;
                    margin-left: 1.2rem;
                }

                .fa-list-ul{
                    font-size: 20px;
                    margin-top: 0.6rem;
                    margin-left: 1.2rem;
                }

                .fa-store{
                    font-size: 19px;
                    margin-top: 0.6rem;
                    margin-left: 1rem;
                }

                .btn-number{
                    margin-top: 0.4rem;
                }

                .btn-text{
                    width: 45%;
                }
            }
        }
        .restaurants{
            display: flex;
            flex-wrap: wrap;
            h2{
                width: 100%;
            }
            .restaurants-cards{
                width: 48%;
                position: relative;
                .notification-container{
                    position: absolute;
                    right: 3%;
                    .cards-notification{
                        margin-top: 0.625rem;
                        background-color: $mint;
                        border-radius: 0.1875rem;
                        color: green;
                        font-size: 0.9375rem;
                        padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
                    }
                }
            }
        }
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        
    }
}